.modal {
	$verticalPadding: 2rem;
	$horizontalPadding: $gutter * 1.5;

	border-bottom-right-radius: .5rem;
	border-bottom-left-radius: .5rem;

	&-tabbar {
		width: 100%;
		font-size: 2.5rem;
	}

	&-tab {
		display: inline-block;
		width: 25rem;
		color: $white;
		background-color: $blue;
		border-right: .1rem solid $white;
		border-left: .1rem solid $white;
		opacity: .5;
		transition: opacity .25s ease-in-out;
		will-change: opacity;

		&:first-child,
		&:last-child {
			border: 0;
		}

		&:hover {
			opacity: 1;
		}

		&.is-active {
			position: relative;
			color: $blue;
			background-color: $white;
			opacity: 1;
			box-shadow: 0 .2rem 1rem rgba($black, .125);

			&::before {
				content: '';
				position: absolute;
				bottom: - $verticalPadding;
				left: 0;
				width: 100%;
				height: $verticalPadding * 2;
				background-color: $white;
			}

			&::after {
				content: '';
				position: absolute;
				bottom: 0;
				left: $horizontalPadding;
				width: calc(100% - 2 * #{$horizontalPadding});
				height: .1rem;
				background-color: $blue;
			}
		}
	}

	&-toggler {
		display: block;
		padding: $verticalPadding $horizontalPadding;
	}

	&-content {
		display: flex;
		justify-content: space-between;
		padding: $horizontalPadding;
		padding-bottom: 5rem;
		background-color: $white;
		box-shadow: 0 .2rem 2rem rgba($black, .125);
	}

	&-block {
		position: relative;
		display: none;
		width: 100%;
		margin-left: - $gutter;
		overflow: hidden;

		&.is-active {
			display: block;
		}

		&::before,
		&::after {
			content: '';
			position: absolute;
			top: 0;
			width: $gutter;
			height: 100%;
		}

		&::before {
			left: 0;
			background: linear-gradient(to left, rgba(255, 255, 255, 0), $white);
		}

		&::after {
			right: 0;
			background: linear-gradient(to right, rgba(255, 255, 255, 0), $white);
		}
	}

	&-scroll {
		display: grid;
		grid-auto-flow: column;
		grid-column-gap: $gutter * 3;
		width: 100%;
		padding-left: $gutter;
		overflow-x: scroll;
		overflow-y: hidden;
		white-space: nowrap;

		&::-webkit-scrollbar {
			display: none;
		}
	}

	&-label {
		grid-row: 1;
		margin-bottom: 1.5rem;
		font-size: 1.5rem;
		font-weight: 800;
		text-transform: uppercase;
		opacity: .5;
	}

	&-item {
		grid-row: 2;
		font-size: 2.5rem;
		font-weight: 800;
		opacity: .875;
	}

	&-aside {
		display: flex;
		align-items: center;
		margin-left: $gutter;
	}
}