.phone {
	position: relative;
	display: block;
	margin: 0;
	width: 8rem;
	height: 8rem;
	font-size: 25vmin;
	background-color: $blue;
	border-radius: 100%;
	box-shadow: 0 0 0 0 rgba($blue, 0), 0 .05rem .1rem rgba($black, .2);
	transform: scale(1);

	&::before,
	&::after {
		position: absolute;
		content: '';
	}

	&::before {
		top: 0;
		left: 0;
		width: 1rem;
		height: 1rem;
		background-color: rgba($white, .1);
		border-radius: 100%;
		opacity: 1;
		transform: scale(0);
	}

	&::after {
		top: 50%;
		left: 50%;
		width: 5rem;
		height: 5rem;
		background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNCAyNCI+PHBhdGggZD0iTTYuNiAxMC44YzEuNCAyLjggMy44IDUuMSA2LjYgNi42bDIuMi0yLjJjLjMtLjMuNy0uNCAxLS4yIDEuMS40IDIuMy42IDMuNi42LjUgMCAxIC40IDEgMVYyMGMwIC41LS41IDEtMSAxLTkuNCAwLTE3LTcuNi0xNy0xNyAwLS42LjQtMSAxLTFoMy41Yy41IDAgMSAuNCAxIDEgMCAxLjIuMiAyLjUuNiAzLjYuMS40IDAgLjctLjIgMWwtMi4zIDIuMnoiIGZpbGw9IiNmZmZmZmYiLz48L3N2Zz4=);
		background-position: 50% 50%;
		background-repeat: no-repeat;
		background-size: cover;
		transform: translate(-50%, -50%) translate3d(0, 0, 0);
	}
}