.wysiwyg {
	$transition: 1s ease-in-out;

	width: grid(6);

	@media (max-width: #{grid(8) + $gutter * 2}) {
		width: grid(4);
	}

	@media (max-width: #{grid(6) + $gutter * 2}) {
		width: grid(3);
	}

	&-tabbar {
		display: flex;
		flex-wrap: wrap;
		margin: 4rem 0;
	}

	&-button {
		flex: 1 0 0;
		margin: 1rem 0;
		margin-right: $gutter * 2;
		opacity: .25;

		@media (max-width: #{grid(8) + $gutter * 2}) {
			flex: 0 0 100%;
			margin-right: 0;
		}

		&:last-child {
			margin-right: 0;
		}

		&.is-active,
		&:hover {
			opacity: 1;
		}
	}

	&-content {
		display: flex;
		transition: transform $transition;
		will-change: transform;
	}

	&-article {
		flex: 0 0 100%;
		transition: opacity $transition;
		will-change: opacity;
		opacity: 0;

		&.is-active {
			opacity: 1;
		}
	}

	h2 {
		color: $blue;
		font-size: 7rem;
		font-style: italic;
		font-weight: 200;
		text-align: center;

		@media (max-width: #{grid(4) + $gutter * 2}) {
			font-size: 5rem;
		}
	}

	p {
		margin-bottom: 6rem;
		color: rgba($black, .75);
		font-size: 2.5rem;
		line-height: 1.5;

		&:last-child {
			margin-bottom: 0;
		}
	}

	strong {
		font-weight: 600;
	}

	em {
		font-style: italic;
	}
}