section.carousel
	.carousel-container
		.carousel-content
			h2 Offit, vous en parlez le mieux !
			p.carousel-quote Super séance ! L'ambiance était très sympathique, le coach très gentil. Et même si ça fait mal, ça fait du bien ! 
			span.carousel-label Elena, Chef de projet chez Source Interactive
		.carousel-thumbnail.lazyload
			img.carousel-image(src="images/source-interactive.png", alt="Source Interactive")
			img.carousel-mask.no-lazyload(src="images/mask.svg", alt="Mask", draggable="false")