footer.footer
	.footer-container
		.footer-post
			p.footer-title Prêt à vous lancer ?
			p.footer-text Entrez en contact avec l’un de nos coachs ! 
			.footer-separator
				.footer-card.phonecard
					i.phonecard-icon.phone
					p.phonecard-label Nos coordonnées
					p.phonecard-text
						a(href="tel:+336 12 36 33 54", title="Numéro de téléphone") 06 12 36 33 54
					p.phonecard-text
						a(href="mailto:victor@offit.com", title="Adresse mail") victor@offit.com
			.footer-lists
				.footer-column
					p.footer-section Qui sommes-nous ?
					a.footer-link(href="#", title="Notre approche") Notre approche
					a.footer-link(href="#", title="Nos coachs") Nos coachs
					a.footer-link(href="#", title="Notre expertise") Notre expertise
				.footer-column
					p.footer-section Nos programmes
					a.footer-link(href="#", title="Professionnel") Professionnel
					a.footer-link(href="#", title="Particulier") Particulier
					a.footer-link(href="#", title="Groupe") Groupe
				.footer-column
					p.footer-section Réserver une séance
					a.footer-link(href="#", title="Réservation") Réservation
		p.footer-copyright Offit ©