header.header
	.header-topbar.topbar.is-hidden
		.topbar-section.topbar-section--contact
			.topbar-content
				ul.topbar-list
					li.topbar-item.topbar-item--phone +33 6 12 36 33 54
					li.topbar-item.topbar-item--mail victor@offit.com
		.topbar-section.topbar-section--nav
			.topbar-content
				ul.topbar-list
					li.topbar-item
						img(src="images/logo.png", alt="Offit")
					li.topbar-item
						a.topbar-button(href="#" title="Qui sommes-nous ?") Qui sommes-nous ?
					li.topbar-item
						a.topbar-button(href="#" title="Nos programmes") Nos programmes
					li.topbar-item
						a.topbar-button(href="#" title="Réserver votre séance") Réserver votre séance
	.header-background
		img(src="images/header.png", alt="Offit")
	.header-titles
		h1 Faites du sport au travail
		h2 Avec Offit, prenez soin de votre corps directement sur votre lieu de travail.
	.header-modal.modal
		ul.modal-tabbar
			li.modal-tab.is-active(data-tab="Professionnel")
				a.modal-toggler(href="#" title="Professionnel") Professionnel
			li.modal-tab(data-tab="Particulier")
				a.modal-toggler(href="#" title="Particulier") Particulier
			li.modal-tab(data-tab="Groupe")
				a.modal-toggler(href="#" title="Groupe") Groupe
		.modal-content
			.modal-display.is-active(data-tab="Professionnel")
				.modal-item
					.modal-section Où ?
					.modal-data Bastilles, Paris
				.modal-item
					.modal-section Combien de personnes ?
					.modal-data 10
				.modal-item
					.modal-section Quand ?
					.modal-data 23.11.2018
				.modal-item
					.modal-section À quelle heure ?
					.modal-data 17:00
			.modal-display(data-tab="Particulier")
				.modal-item
					.modal-section Où ?
					.modal-data Luxembourg, Paris
				.modal-item
					.modal-section Combien de personnes ?
					.modal-data 3
				.modal-item
					.modal-section Quand ?
					.modal-data 18.11.2018
				.modal-item
					.modal-section À quelle heure ?
					.modal-data 18:00
			.modal-display(data-tab="Groupe")
				.modal-item
					.modal-section Où ?
					.modal-data Luxembourg, Paris
				.modal-item
					.modal-section Combien de personnes ?
					.modal-data 20
				.modal-item
					.modal-section Quand ?
					.modal-data 20.11.2018
				.modal-item
					.modal-section À quelle heure ?
					.modal-data 15:00
			.modal-booking
				a.modal-button.button.button--blue(href="#" title="Réservation") Réserver