header.header
	.header-topbar.topbar.is-hidden
		.topbar-section.topbar-section--contact
			.topbar-content
				ul.topbar-list
					li.topbar-item
						a(href="tel:+33612363354" title="Phone number") +33 6 12 36 33 54
					li.topbar-item
						a(href="mailto:victor@offit.com" title="Mail adress") victor@offit.com
		.topbar-section.topbar-section--nav
			.topbar-content
				ul.topbar-list
					li.topbar-item
						img(src="images/logo.png", alt="Offit")
					li.topbar-item
						a.topbar-button(href="#" title="Qui sommes-nous ?") Qui sommes-nous ?
					li.topbar-item
						a.topbar-button(href="#" title="Nos programmes") Nos programmes
					li.topbar-item
						a.topbar-button(href="#" title="Réserver votre séance") Réserver votre séance
	.header-background.lazyload
		img(src="images/header.png", alt="Offit")
	.header-titles
		h1 Faites du sport au travail
		.header-subtitle Avec Offit, prenez soin de votre corps directement sur votre lieu de travail.
	.header-modal.modal
		ul.modal-tabbar
			li.modal-tab.is-active(data-tab="Professionnel")
				a.modal-toggler(href="#" title="Professionnel") Professionnel
			li.modal-tab(data-tab="Particulier")
				a.modal-toggler(href="#" title="Particulier") Particulier
			li.modal-tab(data-tab="Groupe")
				a.modal-toggler(href="#" title="Groupe") Groupe
		.modal-content
			.modal-block.is-active(data-tab="Professionnel")
				.modal-scroll
					.modal-label Où ?
					.modal-item Bastilles, Paris
					.modal-label Combien de personnes ?
					.modal-item 10
					.modal-label Quand ?
					.modal-item 23.11.2018
					.modal-label À quelle heure ?
					.modal-item 17:00
			.modal-block(data-tab="Particulier")
				.modal-scroll
					.modal-label Où ?
					.modal-item Luxembourg, Paris
					.modal-label Combien de personnes ?
					.modal-item 3
					.modal-label Quand ?
					.modal-item 18.11.2018
					.modal-label À quelle heure ?
					.modal-item 18:00
			.modal-block(data-tab="Groupe")
				.modal-scroll
					.modal-label Où ?
					.modal-item Luxembourg, Paris
					.modal-label Combien de personnes ?
					.modal-item 20
					.modal-label Quand ?
					.modal-item 20.11.2018
					.modal-label À quelle heure ?
					.modal-item 15:00
			.modal-aside
				a.button.button--blue(href="#" title="Réservation")
					img.button-icon(src="images/search.svg", alt="Search")
					| Réserver