section.post
	.post-container
		.post-tag Populaire
		h2 Les sports les plus demandés par les employés 
		.post-cards
			.card
				.card-container.lazyload.lazyload--turned
					img.card-background(src="images/yoga.png", alt="Yoga")
					.card-content
						h3.card-title Yoga
						p.card-text Le yoga développe la souplesse et lutte contre la sédentarité.
			.card
				.card-container.lazyload.lazyload--turned
					img.card-background(src="images/running.png", alt="Running")
					.card-content
						h3.card-title Running
						p.card-text C’est une manière de dynamiser les équipes et d’améliorer la productivité.
			.card
				.card-container.lazyload.lazyload--turned
					img.card-background(src="images/fitness.png", alt="Fitness")
					.card-content
						h3.card-title Fitness
						p.card-text Cette remise en forme est recommandée pour une première séance.
			.card
				.card-container.lazyload.lazyload--turned
					img.card-background(src="images/boxe.png", alt="Boxe")
					.card-content
						h3.card-title Boxe
						p.card-text L’activité phare pour évacuer le stress et rester en pleine forme physique.