a.button(href="#", title="Shape")
	img.shape.shape--article.shape--green(src="images/shape-green-1.svg", alt="Shape", data-article="Pourquoi")
a.button(href="#", title="Shape")
	img.shape.shape--article.shape--blue(src="images/shape-blue-1.svg", alt="Shape", data-article="Comment")
a.button(href="#", title="Shape")
	img.shape.shape--article.shape--purple(src="images/shape-purple-1.svg", alt="Shape", data-article="Où")