img.shape.shape--1.shape--green(src="images/shape-green-1.svg", alt="Shape")
img.shape.shape--1.shape--blue(src="images/shape-blue-1.svg", alt="Shape")
img.shape.shape--1.shape--purple(src="images/shape-purple-1.svg", alt="Shape")