a.button(href="#", title="Shape")
	img.shape.shape--article.shape--green(src="images/shape-green-article.svg", alt="Shape", data-article="Pourquoi")
a.button(href="#", title="Shape")
	img.shape.shape--article.shape--blue(src="images/shape-blue-article.svg", alt="Shape", data-article="Comment")
a.button(href="#", title="Shape")
	img.shape.shape--article.shape--purple(src="images/shape-purple-article.svg", alt="Shape", data-article="Où")