.wysiwyg
	h2 Développons ensemble le bien-être de votre entreprise
	.wysiwyg-tabbar
		a.wysiwyg-button.button.button--green.is-active(href="#", title="Pourquoi") Pourquoi
		a.wysiwyg-button.button.button--blue(href="#", title="Comment") Comment
		a.wysiwyg-button.button.button--purple(href="#", title="Où") Où
	.wysiwyg-content
		.wysiwyg-article.is-active(data-article="Pourquoi")
			p
				| Le sport est un facteur de bien-être. Il permet aux entreprises de doper leur productivité, d'améliorer leur management ou encore de diminuer leur turn over. 
			p
				| L’étude Goodwill révèle que la <strong>productivité</strong> d’un salarié pratiquant une activité sportive augmente de <strong>6 à 9%</strong>. En parallèle, le sport en entreprise permet de gagner en termes de concentration, d’esprit d’équipe et de dépassement de soi. 
			p
				| Notre mission est de doper la productivité de votre entreprise et de booster votre cohésion.
		.wysiwyg-article(data-article="Comment")
			p
				| Depuis quelques années, le sport s'invite de plus en plus au sein des bureaux : salle de sport, séance avec un coach sportif, team building, etc.
			p
				| Facile à mettre en place et très certainement la solution la plus économique, le coaching sportif en entreprise s'adapte à toutes les entreprises quelque soit leur budget alloué et leur structure : startup, PME, ou encore grand groupe.
		.wysiwyg-article(data-article="Où")
			p
				| Du yoga pour se relaxer à la boxe pour se défouler en passant par du circuit training chaque disciplines sportives à ses spécificités.
			p
				| Au coeur de vos locaux ou en extérieur, la mission d’Offit est de vous accompagner. Dans une salle de réunion, dans un parc ou dans une salle de sport, tous les programmes sont flexibles et accessibles. Le coach Offit, ramène son matériel et sa bonne humeur pour assurer votre séance d’une heure et plus.